<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>툴킷 - 마크다운 에디터</title>
    <style>
    .btn-margin{
        margin-right:10px;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/toolkit.png" width="30" height="30" class="d-inline-block align-top rounded" alt="">
            <strong>JWN 툴킷</strong>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
        <button onclick="location.href='https://discord.gg/v6FVgyz';" class="btn btn-outline-dark my-2 my-sm-0" type="file">공식 디스코드</button>
    </nav>

    <div id="main">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">마크다운 HTML 변환기</h1>
            <p class="lead">마크다운 HTML으로 변환해주는 툴입니다.</p>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="input-group" style="width:40%; height: 500px; margin-right: 30px;">
                <div class="input-group-prepend">
                  <span class="input-group-text">마크다운(MARKDOWN .md)</span>
                </div>
                <textarea v-model="markdown" class="form-control"></textarea>
            </div>
            <div class="input-group" style="width:40%; height: 500px;">
                
                <div class="input-group-prepend">
                    <span class="input-group-text">HTML(HTML .html)</span>
                </div>
                <textarea v-model="html" class="form-control" readonly="readonly"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-dark" v-on:click="copy">복사하기</button>
            </div>
        </div>
    </div>
    <script>
        var converter = new showdown.Converter();
        var app = new Vue({
            el: '#main',
            data: {
                markdown: `
# Markdown Html Converter

![mainimg](/img/mdtohtml.png)

- Cool
- Awsome
- Useful


\`\`\`c
#include<stdio.h>
int main(){
    printf("Hello world");
    return 0;
}
\`\`\`
`,
                html: `
<h1 id="markdownhtmlconverter">Markdown Html Converter</h1>
<p><img src="/img/mdtohtml.png" alt="mainimg" /></p>
<ul>
<li>Cool</li>
<li>Awsome</li>
<li>Useful</li>
</ul>
<pre><code class="c language-c">#include&lt;stdio.h&gt;
int main(){
    printf("Hello world");
    return 0;
}
</code></pre>
`,
            },
            methods: {
                copy() {
                    var t = document.createElement("textarea");
                    document.body.appendChild(t);

                    t.value = this.html;
                    t.select();

                    document.execCommand('copy');
                    document.body.removeChild(t);
                }
            },
            watch: {
                markdown(newMarkdown) {
                    this.html = converter.makeHtml(newMarkdown);
                }
            },
        })

    </script>

    <div id="layout">
        <div id="disqus">
            <div id="disqus_thread" style="padding-top: 30px; max-width: 880px; margin-left: auto; margin-right: auto;"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://jtoolkit.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div id="analytics">
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149007279-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-149007279-1');
            </script>
        </div>
    </div>
</body>
</html>
